<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1 class="d-flex justify-content-center">
          Add IPO Details
        </h1>
      </div>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="cmpname" class="col-sm-2 control-label"
            >Company Name</label
          >
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cmpname" />
          </div>
        </div>
        <div class="form-group">
          <label for="stockexchange" class="col-sm-2 control-label"
            >Stock exchange</label
          >
          <div class="col-sm-10">
            <input type="text" class="form-control" id="stockexchange" />
          </div>
        </div>
        <div class="form-group">
          <label for="pricepershare" class="col-sm-2 control-label"
            >Price per Share</label
          >
          <div class="col-sm-10">
            <input type="text" class="form-control" id="pricepershare" />
          </div>
        </div>
        <div class="form-group">
          <label for="tnos" class="col-sm-2 control-label"
            >Total number of shares</label
          >
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tnos" />
          </div>
        </div>
        <div class="form-group">
          <label for="odt" class="col-sm-2 control-label">Open Date Time</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="odt" />
          </div>
        </div>
        <div class="form-group">
          <label for="remarks" class="col-sm-2 control-label">Remarks</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="remarks" />
          </div>
        </div>

        <div class="form-group" class="d-flex justify-content-center">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-dark">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-dark">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
