<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Password Change</h4>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="modal-body">
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input id="password" autocomplete type="password" class="form-control" placeholder="New Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">New Password is required.</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmed-password" class="sr-only">Confirmed Password</label>
            <input id="confirmed-password" autocomplete type="password" class="form-control" placeholder="Confirmed Password" formControlName="confirmedPassword"
                [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }">
            <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmedPassword.errors.required">Confirmed Password is required.</div>
                <div *ngIf="f.confirmedPassword.errors.matched">Confirmed Password is not matched.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</form>