/* You can add global styles to this file, and also import other style files */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.alert-success {
    padding:15px;
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    padding:15px;
    text-align: center;
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}

.alert-danger {
    padding:15px;
    text-align: center;
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}