<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="jumbotron text-center" style="margin-bottom: 10;">
      <h1>Stock Market Application</h1>
      <p>
        This Software System lets Admin to upload Stock Price of a Company(which
        is listed in a Stock Exchange) at different points of time.
      </p>
      <p>
        It need to supportmultiple Stock Exchanges.
      </p>
      <p>
        And the registered Users should be able to generate various charts to
        perform Stock Market performance of various Companies or Sectors over
        certain period of time.
      </p>

      <button type="button" class="btn btn-dark">Login</button>
    </div>
  </body>

  <div class="jumbotron text-center" style="margin-bottom: 0;">
    <p>IBM</p>
  </div>
</html>
